<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{$basePath}/dist/css/styles.css" type="text/css">
    <script src="https://kit.fontawesome.com/63027296a0.js" crossorigin="MrvGOD"></script>
    <link rel="stylesheet" href="{$basePath}/dist/css/fonts.css" type="text/css">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Minizelen.cz</title>
</head>

<body>
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    <div class="uvitani">
        <div class="kontakt">
            <p>Kontaktujte nás</p>
            <a href="mailto:info@minizelen.cz">info@minizelen.cz</a>
        </div>
        <div class="ikonky">
            <a target="_blank" href="https://www.instagram.com/minizelen.cz/"><i class="fab fa-instagram fa-2x"></i></a>
            <a target="_blank" href="https://www.facebook.com/minizelen.cz/"><i class="fab fa-facebook-square fa-2x"></i></a>
                    
        </div>
    </div>
    <header id="header">
        <nav class="burgermenu" id="hamburger">
            <div class="burger" onclick="hamburger()">
                <div class="hm"></div>
                <div class="hm"></div>
                <div class="hm"></div>
            </div>
            <div id="odkazy">
                <a href="/">DOMŮ</a>
                <a href="#">MINIZELEŇ</a>
                <a n:href="Products:default">PRODUKTY</a>
                <a href="#" class="logo"><img src="../dist/images/minizelen_logo.png"></a>
                <a href="#">OBJEDNÁVKA</a>
                <a href="#">SPOLUPRÁCE</a>
                <a href="#">KONTAKT</a>
            </div>
        </nav>
        <a href="#"><img class="absolute" src="../dist/images/minizelen_logo.png"></a>
    </header>
    {include content}
    <div class="patickaKontakt">
        <div class="mb-30 blok">
            <a target="_blank" class="instagram-logo-odkaz" href="https://www.instagram.com/minizelen.cz/">
                <img src="../dist/images/minizelen_logo.png" alt=":)">
                <h1>Minizelen.cz</h1>
            </a>
            <div id="instafeed">
            </div>
            <a target="_blank" href="https://www.instagram.com/minizelen.cz/" class="button"><i class="fab fa-instagram fa-2x"></i><p>Sledujte nás</p></a>
        </div>
        <div class="mb-30 blok">
            <h1>Minizeleň</h1>
            <nav class="patickaNavigace">
                <ul>
                    <li><a href="#">O nás</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Spolupráce</a></li>
                    <li><a href="#">Obchodní podmínky</a></li>
                    <li><a href="#">Ochrana osobních údajů</a></li>
                </ul>
            </nav>
        </div>
        <div class="mb-30 blok hiding">
        </div>
        <div class="mb-30 blok">
            <h1>Kontakt</h1>
            <div class="telefon">
                <i class="fas fa-phone-alt"></i>
                <p>+420 733 593 256</p>
            </div>
            <div class="telefon">
                <i class="fas fa-phone-alt"></i>
                <p>+420 731 514 380</p>
            </div>
            <div class="telefon">
                <i class="fas fa-envelope"></i>
                <a href="mailto: info@minizelen.cz">info@minizelen.cz</a>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2019 Cifra Marek</p>
    </footer>
    {block scripts}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
    <script src="../dist/js/scripts.js"></script>
    <script src="../dist/js/instafeed.js"></script>

    {/block}
</body>

</html>